<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key ="FilePath"  value= "E:\MyCode\TournamentManagmentWinForms\Data" />
    
  </appSettings>
  
  
  <connectionStrings>
    <add name="TournamentDB"  
         connectionString= "Server= Apostall107-Pc\SQLEXPRESS;
               Database=TournamentDB;
              Trusted_Connection= True;"
         providerName="System.Data.SqlClient"
         />
  </connectionStrings>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>

<!--Your comment- Database=E:\MYCODE\DIPLOMA\TOURNAMENTTRACKER\TOURNAMENTDB.MDF;-->
